<html>
<head>
	<title>KhumaloCrafts</title>
	<link rel="stylesheet" href="style3.css">
</head>
<style>
	* {
		margin: 0;
		padding: 0;
		font-family: san-serif;
		.banner3

	{
		width: 100%;
		height: 100vh;
		background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(PictureA.jpg);
		background-size: cover;
		background-position: center;
	}

	.navbar3 {
		width: 85%;
		margin: auto;
		padding: 35px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

		.navbar3 ul li {
			list-style: none;
			display: inline-block;
			margin: 0 20px;
			font-size: 200%;
		}

			.navbar3 ul li a {
				text-decoration: none;
				color: #fff;
				text-transform: uppercase;
			}

	.content3 {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: #fff;
		font-size: 150%;
	}

</style>
<body>
	<div class="banner3">
		<div class="navbar3">
			<ul>
				<li><a href="Craft.html">Home</a></li>
				<li><a href="Sales.html">Sales</a></li>
				<li><a href="ContactUs.html">Contact Us</a></li>
				<li><a href="KhumaloCrafts.html">My Work</a></li>

			</ul>
		</div>
	</div>
	<div class="content3">
		<h1>My Work</h1>


	</div>
</body>
</html>