@using KhumaloCrafts1
@namespace KhumaloCrafts1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
	<title>KhumaloCrafts</title>
	<link rel="stylesheet" href="style2.css">
</head>
<style>
	* {
		margin: 0;
		padding: 0;
		font-family: san-serif;
		.banner2

	{
		width: 100%;
		height: 100vh;
		background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(PictureA.jpg);
		background-size: cover;
		background-position: center;
	}

	.navbar2 {
		width: 85%;
		margin: auto;
		padding: 35px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

		.navbar2 ul li {
			list-style: none;
			display: inline-block;
			margin: 0 20px;
			font-size: 200%;
		}

			.navbar2 ul li a {
				text-decoration: none;
				color: #fff;
				text-transform: uppercase;
			}
</style>
<body>
	<div class="banner2">
		<div class="navbar2">
			<ul>
				<li><a href="Craft.html">Home</a></li>
				<li><a href="Sales.html">Sales</a></li>
				<li><a href="ContactUs.html">Contact Us</a></li>
				<li><a href="MyWork.html">My Work</a></li>

			</ul>
		</div>
	</div>
	<div class="content2">
		<h1>Contact Us</h1>
		<p>To find us just call us on our company line</p>
		<p>Number:012 467 5699</p>

	</div>
</body>
</html>